footer {
    margin-top: 3.91vw;
    background: var(--dark-blue);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

h3 {
    font-weight: 500;
    color: black;
    font-size: 1.76vw;
    height: auto;
}

div.navigate {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 33%;
}

div.navigate h3 {
    margin: 15px 0 10px 30%;

}

div.navigate nav {
    margin: 0 0 0 30%;
}

div.navigate nav ul {
    padding: 0;
    margin: 0;
}

div.navigate nav ul li {
    list-style: none;
}

div.navigate nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.25vw;
    font-weight: 400;
    letter-spacing: 0.05vw;

}

div.mission {
    display: flex;
    flex-direction: column;
    flex: 0 0 33%;
}

div.mission h3 {
    margin: 15px 0 10px 0;
}

div.mission p {
    margin: 0 40px 0 0;
    font-size: 1.25vw;
    text-align: justify;
}

div.mediaIcons {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 33%;
}

div.mediaIcons h3 {
    flex: 0 0 100%;
    align-self: start;
    margin: 15px 0 10px 20%;

}

div.mediaIcons i {
    font-size: 1.95vw;
    flex: 0 0 15%;
    align-self: start;
}

div.mediaIcons i.fa-instagram {
    margin-left: 20%;
}

div.copyright {
    flex: 0 0 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 1.5vw;

}