body {
    margin: 0;
    background: var(--off-white);
    font-family: "Avenir", sans-serif;
}

:root {
    --dark-blue: #5997ac;
    --light-blue: #a1cbdd;
    --off-white: #eeede7;
    --light-pink: #f7aec2;
    --dark-pink: #af5166;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../webfonts/proximanova-regular-webfont.woff2') format('woff2'),
    url('../webfonts/proximanova-regular-webfont.woff') format('woff');
}

header {
    align-items: center;
    background-color: var(--dark-blue); /*#1E2D3B*/
    display: flex;
    height: 5.86vw;
}

div.headerLeft {
    height: 5.86vw;
    background: var(--dark-pink); /*EDCD1F*/
    display: flex;
    align-items: center;
    cursor: pointer;
}

div.headerLeft img {
    width: 4.69vw;
    height: 4.69vw;
    float: left;
    padding: 0 0 0.39vw 0.78vw;
}

div.headerLeft h1 {
    float: left;
    padding: 0 0 0 1.95vw;

    font-weight: 500; /*bold*/
    color: var(--off-white); /*1E2D3B*/
    letter-spacing: 0.08vw;
    font-size: 2.5vw;
}

div.headerLeft h2 {
    float: left;
    padding: 0 1.95vw 0 0.39vw;

    font-weight: lighter;
    color: var(--off-white); /*1E2D3B*/
    letter-spacing: 0.08vw;
    font-size: 2.5vw;
}


header nav {
    margin-left: auto;
    margin-right: 1.95vw;
}


header nav li {
    /*height: 1.45vw;*/
    display: inline-block;
    padding: 0 1.95vw;
}

header nav li a {
    padding: 0 1.17vw;
    vertical-align: middle;

    font-weight: 500; /*300*/
    color: var(--off-white); /*FFFFFF*/
    text-decoration: none;
    letter-spacing: 0.08vw;
    font-size: 1.25vw;
}

header nav li a:hover, header nav li a.active {
    color: var(--light-blue); /*EDCD1F*/
}