body {
    margin: 0;
}

header {
    align-items: center;
    background-color: #1E2D3B;
    display: flex;
    height: 75px;
}

div#header {
    height: 75px;
    background: #EDCD1F;
    display: flex;
    align-items: center;
    cursor: pointer;
}

div#header img {
    width: 60px;
    height: 60px;
    float: left;
    padding: 0 0 5px 10px;
}

div#header h1 {
    float: left;
    padding: 0 0 0 25px;
}

div#header h2 {
    float: left;
    padding: 0 25px 0 5px;
}


header nav {
    margin-left: auto;
    margin-right: 25px;
}

header nav li {
    display: inline-block;
    padding: 0 25px;
}

header nav li a {
    padding: 10px 15px;
}

div#mediaLinks {
    background: #1E2D3B;
    position: fixed;
    top: 50%;
    right: 0;
    width: 50px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

div#mediaLinks i.fa-instagram {
    color: white;
    font-size: 40px;
    cursor: pointer;
}

div#mediaLinks i.fa-facebook-f {
    color: white;
    font-size: 35px;
    cursor: pointer;
}

div.body {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-evenly;
    margin-top: 50px;
}

div.transparent {
    position: absolute;
    width: 33.33%;
    height: 33.33vw;
    top: 125px;
    opacity: 0;
    z-index: 1000;
    cursor: pointer;
}

div.transparent.topLeft {
    left: 11.11%;
}

div.transparent.topRight {
    right: 11.11%;
}

div.transparent.bottom {
    position: absolute;
    width: 77.77%;
    height: 33.33vw;
    top: calc(175px + 33.33vw);
    opacity: 0;
    z-index: 1000;
    cursor: pointer;
}

img.square {
    width: 33.33%;
    height: 33.33vw;
    filter: blur(0);
    transition: filter 300ms;
}

img.rectangle {
    width: 77.77%;
    height: 33.33vw;
    margin-top: 50px;
    filter: blur(0);
    transition: filter 300ms;
}

div.text.topLeft {
    position: absolute;
    left: 27.77%;
    top: calc(16.66vw + 125px);
    transform: translate(-50%, -50%);
}

div.text.topRight {
    position: absolute;
    right: 27.77%;
    top: calc(16.66vw + 125px);
    transform: translate(+50%, -50%)
}

div.text.bottom {
    position: absolute;
    left: 50%;
    top: calc(175px + 50vw);
    transform: translate(-50%, -50%)
}

i.fa-chevron-up.topLeft {
    position: absolute;
    left: 27.77%;
    top: calc(26.66vw + 125px);
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 300ms;
}

i.fa-chevron-up.topRight {
    position: absolute;
    right: 27.77%;
    top: calc(26.66vw + 125px);
    opacity: 0;
    transform: translate(+50%, -50%);
    transition: all 300ms;
}

i.fa-chevron-right {
    position: absolute;
    left: 27.77%;
    top: calc(175px + 50vw);
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 300ms;
}

i.fa-chevron-left {
    position: absolute;
    right: 27.77%;
    top: calc(175px + 50vw);
    opacity: 0;
    transform: translate(+50%, -50%);
    transition: all 300ms;
}

div.transparent.topLeft:hover ~ img.square.topLeft {
    filter: blur(3px);
    transition: filter 300ms;
}

div.transparent.topLeft:hover ~ i.fa-chevron-up.topLeft {
    position: absolute;
    top: calc(26.66vw + 100px);
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: all 300ms;
}

div.transparent.topRight:hover ~ img.square.topRight {
    filter: blur(3px);
    transition: filter 300ms;
}

div.transparent.topRight:hover ~ i.fa-chevron-up.topRight {
    position: absolute;
    top: calc(26.66vw + 100px);
    opacity: 1;
    transform: translate(+50%, -50%);
    transition: all 300ms;
}

div.transparent.bottom:hover ~ img.rectangle {
    filter: blur(3px);
    transition: filter 300ms;
}

div.transparent.bottom:hover ~ i.fa-chevron-left {
    position: absolute;
    right: 30%;
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: all 300ms;
}

div.transparent.bottom:hover ~ i.fa-chevron-right {
    position: absolute;
    left: 30%;
    opacity: 1;
    transform: translate(+50%, -50%);
    transition: all 300ms;
}



.sandy-stone-beach-ocean-diver-1-hex { color: #E6E2AF; }
.sandy-stone-beach-ocean-diver-2-hex { color: #A7A37E; }
.sandy-stone-beach-ocean-diver-3-hex { color: #EFECCA; }
.sandy-stone-beach-ocean-diver-4-hex { color: #046380; }
.sandy-stone-beach-ocean-diver-5-hex { color: #002F2F; }


