div.media {
    background: var(--dark-blue); /*1E2D3B*/
    position: fixed;
    top: 50%;
    right: 0;
    width: 3.91vw;
    height: 11.72vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

div.media i.fa-instagram {
    color: var(--off-white); /*white*/
    font-size: 3.13vw;
    cursor: pointer;
}

div.media i.fa-facebook-f {
    color: var(--off-white); /*white*/
    font-size: 2.73vw;
    cursor: pointer;
    padding-bottom: 0.31vw;
}

div.media i.fa-google {
    color: var(--off-white); /*white*/
    font-size: 2.34vw;
    cursor: pointer;
}

div.media div.email {
    background: #000000;
    position: fixed;
    top: calc(50vh + 9.77vw);
    right: 4.3vw;
    transform: translate(0%, -50%);
    padding: 0.39vw;
    opacity: 0;

    font-family: "Proxima Nova", sans-serif;
    font-weight: 200;
    font-size: 0.94vw;
    color: var(--off-white); /*FFFFFF*/
    transition: all 200ms;
    white-space: pre-wrap;
    z-index: 999;
}

i.fa-google:hover ~ div.email {
    opacity: 1;
    transition: opacity 200ms;
}