body {
    font-family: "Avenir", sans-serif;
}

header div h1 {
    font-weight: bold;
    color: #1E2D3B;
    letter-spacing: 1px;
    font-size: 32px;

}

header div h2 {
    font-weight: lighter;
    color: #1E2D3B;
    letter-spacing: 1px;
    font-size: 32px;
}

header nav li a {
    font-weight: 300;
    color: #FFFFFF;
    text-decoration: none;
    letter-spacing: 1px;
}

header nav li a:hover, header nav li a.active {
    color: #EDCD1F;
}

div.text {
    font-family: "Futura", sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 5vw;
    color: #FFFFFF;
}

i.fa-chevron-up, i.fa-chevron-left, i.fa-chevron-right {
    font-size: 4vw;
    color: #FFFFFF;
}